input:read-only {
    background-color: lightgrey;
}

th {
    text-align: left;
}
.info {
    color: green;
}

.warning {
    color: yellow;
}

.error {
    color: red;
}


#teamTable {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#teamTable td, #teamTable th {
    border: 1px solid #ddd;
    padding: 8px;
}

#teamTable tr:nth-child(even){background-color: #f2f2f2;}

#teamTable tr:hover {background-color: #ddd;}

#teamTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}
